body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(234, 237, 250);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
header {
  background-color: rgb(36, 37, 45);
  padding: 150px;
  position: relative;
}
.container {
  border: 1px solid black;
  background-color: white;
  width: 400px;
  position: absolute;
  left: 550px;
  top: 190px;
  text-align: center;
  padding: 60px;
}
img {
  position: relative;
  border: 1px solid black;
  border-radius: 50%;

  margin-top: -60px;
  padding: 60px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h4 {
  color: rgb(159, 160, 162);
  font-size: 20px;
}
h2 {
  color: rgb(18, 36, 61);
  font-size: 32px;
  font-weight: 400;
}
.nav {
  padding: 20px;
  font-size: 25px;
  color: rgb(103, 127, 162);
}
.btn {
  background-color: rgb(96, 162, 211);
  padding: 10px;
  margin-top: 12px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}
.btn:hover {
  color: whitesmoke;
  background-color: rgb(36, 37, 45);
}
